name: Release

on:
  workflow_dispatch:

env:
  HOMEBREW_DEVELOPER: 1
  HOMEBREW_NO_AUTO_UPDATE: 1

permissions:
  contents: read

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      versions: ${{ steps.setup.outputs.versions }}
      date: ${{ steps.setup.outputs.date }}
    steps:
      - uses: actions/checkout@main
      - run: date
      - run: date +%Y%m%d
      - id: setup
        run: |
          cd Formula
          list=$(ls rv-ruby* | cut -d '@' -f 2 | jq --raw-input | jq --slurp --compact-output 'map(. |= .[:-3])')
          echo versions=$list >> "$GITHUB_OUTPUT"
          echo "date=$(date +%Y%m%d)" >> "$GITHUB_OUTPUT"

  build:
    needs: setup
    strategy:
      fail-fast: false
      matrix:
        version: ${{ fromJSON(needs.setup.outputs.versions) }}
    uses: ./.github/workflows/build.yml
    with:
      version: ${{ matrix.version }}

  release:
    needs: [setup, build]
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
    env:
      TAG: ${{ needs.setup.outputs.date }}
    steps:
      - uses: actions/checkout@main
      - name: Install Homebrew
        run: |
          /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
          echo "/home/linuxbrew/.linuxbrew/bin" >> $GITHUB_PATH
          eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
          brew tap spinel-coop/rv-ruby .

      - name: Checkout branch
        run: git checkout "${GITHUB_REF_NAME}"

      - name: Install gems
        run: brew install-bundler-gems --groups=pr_upload

      - name: Configure Git user
        uses: Homebrew/actions/git-user-config@main

      - name: Setup directory
        run: mkdir rubies

      - name: Download rubies
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: rv-ruby*
          path: rubies
          merge-multiple: true

      - name: Upload to GitHub Packages
        working-directory: rubies
        env:
          HOMEBREW_GITHUB_PACKAGES_USER: ${{ github.actor }}
          HOMEBREW_GITHUB_PACKAGES_TOKEN: ${{ github.token }}
        run: brew rv-upload --debug --root-url="https://ghcr.io/v2/${GITHUB_REPOSITORY,,}"

      - name: Push tag
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          gh release create "${TAG}" --notes "rv ruby ${TAG}" --target "$(git rev-parse --verify HEAD)" --title "${TAG}" --prerelease

      - name: Upload to GitHub Releases
        working-directory: rubies
        env:
          HOMEBREW_GITHUB_API_TOKEN: ${{ github.token }}
        run: brew rv-upload --debug --root-url="https://github.com/${GITHUB_REPOSITORY}/releases/download/${TAG}"

      - name: Release
        env:
          GITHUB_TOKEN: ${{ github.token }}
        run: |
          gh release edit "${TAG}" --verify-tag --prerelease=false --latest

      - name: Cleanup
        run: rm -rvf rubies
